<h1><center>Data Analysis Test</center></h1>

## Overview
This test comprises five questions designed to assess your proficiency in data manipulation and analysis using Python and Pandas. You will work with multiple datasets, including sales data, specialty mapping, and market definitions. Your task is to derive insights by merging, grouping, pivoting, and aggregating the data to answer each question accurately.

## Instructions
- **Libraries:** Ensure you have imported all necessary libraries (e.g., `pandas`).
- **Variable Naming:** For each question, store your final output in the specified variable name (e.g., `answer1`, `answer2`, etc.).
- **Testing:** After completing each question, verify your solution against the expected output in terms of formatting.
- **Code Quality:** Write clean, readable, and well-commented code.
- **Formatting:** Ensure that your final output DataFrames match the expected formats as described in each question.

## Questions

1. **Unique Physicians Writing Under Each Specialty**  

2. **Unique Physicians Writing for Brand and Competitor**  

3. **Market Share of Brand and Competitor**  

4. **Months with Lowest and Highest Market Share**  

5. **Specialty-wise Competitor and Brand Writing**  


<b><center>Good luck with your test!<center></b>

In [10]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [11]:
sales = pd.read_excel('additional_files/Life_sciences_dataset.xlsx',sheet_name='Sales_Data')
spc_map = pd.read_excel('additional_files/Life_sciences_dataset.xlsx',sheet_name='Specialty_Mapping')

In [12]:
sales.head()

,Prescriber_ID,Product_Code,Specialty_Code,Prescriber_State,Payer_Plan,TRx_Jan,TRx_Feb,TRx_Mar,TRx_Apr,TRx_May,TRx_Jun,TRx_Jul,TRx_Aug,TRx_Sep,TRx_Oct,TRx_Nov,TRx_Dec
0,ID00001944,149,ZA,ID,Plan06142,5.50,2.33,3.84,0.98,3.49,4.19,5.60,5.77,5.36,3.95,1.04,3.99
1,ID00006235,713,PUC,KS,Plan08347,4.30,4.50,5.67,4.16,1.79,3.95,2.76,0.70,4.35,4.96,0.52,1.69
2,ID00002297,206,CZ,KY,Plan00506,3.76,2.11,4.48,0.62,4.80,1.03,1.22,2.99,0.02,2.93,1.57,2.09
3,ID00006749,738,WUR,CT,Plan04670,1.09,5.99,5.23,3.82,0.05,1.91,2.21,5.17,4.52,5.76,4.64,0.97
4,ID00006798,971,KLV,NC,Plan03501,1.79,3.48,0.69,1.13,5.71,4.36,0.59,3.70,4.45,5.62,2.06,5.37

In [13]:
spc_map.head()

  Specialty_Code           Specialty
0             AA  Nurse Practitioner
1            AAA        Primary Care
2            ABF          Immunology
3            ACF          Pediatrics
4             AE          Pediatrics

## Question 1: Unique Physicians Writing Under Each Specialty

**Problem Statement:**  
Find the number of Unique Physicians (prescribers) writing under each Specialty?
- **Note that A physician can show multiple times under the same Specialty due to multiple specialty_codes (mapping to the same specialty)**
- Example : For better clarity observe the records for `Prescriber ID : ID00001429` and trace the Specialty for their `Specialty codes`
- Due to this nuance, observing a simple frequency count for each `Specialty` will give a slightly inflated values of Physician count
- Return the output as a DataFrame that is sorted Ascending as per `Specialty`.
---
- **Here is the format of the expected final output (with dummy values)**

| Specialty            | count |
|----------------------|-------|
| Endocrinology       | 12    |
| Family Practice     | 18    |
| Immunology         | 10    |
| Nurse Practitioner | 15    |
| Pediatrics         | 17    |
| Primary Care       | 14    |

### Please Write your answer here 

Delete the `raise NotImplementedError()` when you start writing your code.

In [16]:
# YOUR CODE HERE


sales = pd.read_excel('additional_files/Life_sciences_dataset.xlsx', sheet_name='Sales_Data')
spc_map = pd.read_excel('additional_files/Life_sciences_dataset.xlsx', sheet_name='Specialty_Mapping')

merged_df = pd.merge(sales, spc_map, on='Specialty_Code', how='left')
merged_df = merged_df[['Prescriber_ID', 'Specialty']]
merged_df = merged_df.drop_duplicates()

answer1 = (
    merged_df.groupby('Specialty')['Prescriber_ID']
    .nunique()
    .reset_index(name='count')
    .sort_values('Specialty', ascending=True)
)

answer1.head()

            Specialty  count
0       Endocrinology    158
1     Family Practice    192
2          Immunology    161
3  Nurse Practitioner    166
4          Pediatrics    155

---
### Make sure to write your answer for Q1 above this line
 -  Feel free to add as many code cells above this line as you wish    
 -  Make sure to save your answer in the variable named 'answer1'
 -  If the variable `answer1` is not found, you answer will be rejected by the system

----

## Question 2: Unique Physicians Writing for Brand and Competitor

**Problem Statement:**  
Find the number of Unique Physicians (prescribers) writing for the competitors and for the Brand?
- **Note that a Physician can have multiple records in the Sales dataset as he/she can prescribe more than one product overall** (e.g. consider a Physician prescribing product code 123 to Patient 1 and prescribing product code 456 to Patient 2)
- Example : For better clarity observe the records for `Prescriber ID : ID00002889` and see that it is double counted as a Physician under Competitor
- Due to this nuance, observing a simple frequency count for each `Comp_Brand_Flag` will give a slightly inflated values of Physician count
- Return the output as a DataFrame that is sorted Ascending as per `Comp_Brand_Flag`.
---
- **Here is the format of the expected final output (with dummy values)**

| Comp_Brand_Flag | count |
|-----------------|-------|
| Brand          | 10    |
| Competitor    | 18    |

In [ ]:
mkt_def = pd.read_excel('additional_files/Life_sciences_dataset.xlsx',sheet_name='Market_Definition')
mkt_def.head()

### Please Write your answer here 

Delete the `raise NotImplementedError()` when you start writing your code.

In [17]:
mkt_def = pd.read_excel('additional_files/Life_sciences_dataset.xlsx', sheet_name='Market_Definition')

merged_mkt = pd.merge(sales, mkt_def, on='Product_Code', how='left')
merged_mkt = merged_mkt[['Prescriber_ID', 'Comp_Brand_Flag']]

merged_mkt = merged_mkt.drop_duplicates()
answer2 = (
    merged_mkt.groupby('Comp_Brand_Flag')['Prescriber_ID']
    .nunique()
    .reset_index(name='count')
    .sort_values('Comp_Brand_Flag', ascending=True)
)

answer2.head()

  Comp_Brand_Flag  count
0           Brand    212
1      Competitor    758

---
### Make sure to write your answer for Q2 above this line
 -  Feel free to add as many code cells above this line as you wish    
 -  Make sure to save your answer in the variable named 'answer2'
 -  If the variable `answer2` is not found, you answer will be rejected by the system

----

## Question 3: Market Share of Brand and Competitor

**Problem Statement:**  
- Find the market share of the brand and the competitior for the entire Year
- Note that Market is composed on both `Brand` and `Competition`, and market share of the brand is a ratio of brand sales to total market sales
- Use total sales of Jan-Dec period to arrive at the market share percent
- Return the output as a DataFrame.
---
- **Here is the format of the expected final output (with dummy values)**

| Comp_Brand_Flag | Tot_sales | Mkt_Share |
|-----------------|-----------|-----------|
| Brand          | 450   | 0.45  |
| Competitor    | 550  | 0.55  |

### Please Write your answer here 

Delete the `raise NotImplementedError()` when you start writing your code.

In [21]:

merged_sales = pd.merge(sales, mkt_def, on='Product_Code', how='left')

months = [col for col in merged_sales.columns if 'TRx' in col]

merged_sales['Tot_sales'] = merged_sales[months].sum(axis=1)

totals = merged_sales.groupby('Comp_Brand_Flag')['Tot_sales'].sum().reset_index()

total_market = totals['Tot_sales'].sum()
totals['Mkt_Share'] = totals['Tot_sales'] / total_market

answer3 = totals
answer3

  Comp_Brand_Flag  Tot_sales  Mkt_Share
0           Brand    7636.07   0.212824
1      Competitor   28243.74   0.787176

---
### Make sure to write your answer for Q3 above this line
 -  Feel free to add as many code cells above this line as you wish    
 -  Make sure to save your answer in the variable named 'answer3'
 -  If the variable `answer3` is not found, you answer will be rejected by the system

---

## Question 4: Months with Lowest and Highest Market Share

**Problem Statement:**  
- Find the months in which the Market share for the brand was Lowest and Highest
- Note that Market is composed on both `Brand` and `Competition`, and market share of the brand is a ratio of brand sales to total market sales
- Return the output as a DataFrame
---
- **Here is the format of the expected final output (with dummy values)**

|        | Month | Mkt_Share |
|--------|-------|-----------|
| Min_share | Nov   | 0.1111  |
| Max_share | Mar   | 0.9999  |

### Please Write your answer here 

Delete the `raise NotImplementedError()` when you start writing your code.

In [23]:

months = [col for col in merged_sales.columns if 'TRx' in col]

brand_sales = merged_sales[merged_sales['Comp_Brand_Flag']=='Brand']
total_sales = merged_sales.copy()

monthly_share = {}
for month in months:
    brand_total = brand_sales[month].sum()
    market_total = total_sales[month].sum()
    monthly_share[month] = brand_total / market_total

monthly_df = pd.DataFrame(list(monthly_share.items()), columns=['Month','Mkt_Share'])

min_row = monthly_df.loc[monthly_df['Mkt_Share'].idxmin()]
max_row = monthly_df.loc[monthly_df['Mkt_Share'].idxmax()]
answer4 = pd.DataFrame({
    'Month': ['Min_share','Max_share'],
    'Mkt_Share': [min_row['Mkt_Share'], max_row['Mkt_Share']]
})
answer4

       Month  Mkt_Share
0  Min_share   0.200810
1  Max_share   0.229639

---
### Make sure to write your answer for Q4 above this line
 - #### Make sure to save your answer in the variable named 'answer4'
 - #### If the variable `answer4` is not found, you answer will be rejected by the system

----

## Question 5: Specialty-wise Competitor and Brand Writing

**Problem Statement:**  
- For different Specialties, show the information of Physicians and their writing for Brand and Competition
- Essentially show for both Brand and Competition, the unique number of Physicians who are Prescribing and their total writing (Trx)
- Return the output as a DataFrame
---
- **Here is the format of the expected final output (with dummy values). Note : `Specialty` is the Index component**

| Comp_Brand_Flag     | Brand              |                  | Competitor          |                  |
|---------------------|--------------------|------------------|----------------------|------------------|
| | Prescriber_ID      | Tot_Sales        | Prescriber_ID        | Tot_Sales        |
| Specialty          |  |         |        |        |
|---------------------|--------------------|------------------|----------------------|------------------|
| Endocrinology      | 12                 | 1050.75          | 18                   | 3950.40          |
| Family Practice    | 15                 | 1345.60          | 20                   | 4205.90          |
| Immunology        | 10                 | 980.30           | 17                   | 3678.25          |
| Nurse Practitioner| 14                 | 1125.45          | 19                   | 3899.80          |
| Pediatrics        | 11                 | 870.90           | 16                   | 3410.60          |
| Primary Care      | 13                 | 1235.20          | 15                   | 3600.75          |

### Please Write your answer here 

Delete the `raise NotImplementedError()` when you start writing your code.

In [24]:
merged_df = pd.merge(sales, spc_map, on='Specialty_Code', how='left')
merged_df = pd.merge(merged_df, mkt_def, on='Product_Code', how='left')
months = [col for col in merged_df.columns if 'TRx' in col]

merged_df['Tot_Sales'] = merged_df[months].sum(axis=1)

grouped = merged_df.groupby(['Specialty','Comp_Brand_Flag']).agg(
    Prescriber_ID=('Prescriber_ID','nunique'),
    Tot_Sales=('Tot_Sales','sum')
).reset_index()

answer5 = grouped.pivot(index='Specialty', columns='Comp_Brand_Flag', values=['Prescriber_ID','Tot_Sales'])

answer5.columns = ['_'.join(col).strip() for col in answer5.columns.values]

answer5

,Prescriber_ID_Brand,Prescriber_ID_Competitor,Tot_Sales_Brand,Tot_Sales_Competitor
Specialty,,,,
Endocrinology,34.0,125.0,1216.54,4564.30
Family Practice,44.0,149.0,1584.18,5480.45
Immunology,33.0,128.0,1194.45,4677.14
Nurse Practitioner,37.0,129.0,1296.44,4574.81
Pediatrics,27.0,128.0,986.81,4566.35
Primary Care,38.0,120.0,1357.65,4380.69

---
### Make sure to write your answer for Q5 above this line
 - #### Make sure to save your answer in the variable named 'answer5'
 - #### If the variable `answer5` is not found, you answer will be rejected by the system

---

<h2><center> Completing your test </center></h2>

- Once you have completed your test and answered all the questions:
  
- You can open the guide using the button located on the far right of your screen.

- The button will look like this image:  
  ![](additional_files/End_guide_button.png)

- Clicking on this button will allow you to mark the test as complete using the button shown below:  
  ![](additional_files/completion_button.png)

- Please click on **Mark as Completed** to end and submit your test.

- Thank you!